body {
    font-family: 'Nunito', sans-serif !important;
  }
.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

input[type="text"][readonly] {
    background-color: #ddd;
}

.qr {
    margin-top: 20px;
    margin-bottom: 30px;
    border: black solid 4px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #555;
}
