:root{
    --background: #333333;
    --primary: #00A5FF;
    --secondary: #FFFFFF;
    --tursh: #191970;
    --contrast: #CCCCCC;
}

body{
    background-image: linear-gradient(to top right, #424040, #999999);
    margin: 0;
    padding: 0;
}

header{
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-bottom: black 5px solid;
}

.logo {
    margin-left: 20px;
    margin-bottom: 25px;
    margin-top: 15px;
    top: 5px;
    position: relative;
}

.search-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: var(--secondary);
    border-radius: 20px;
    padding: 5px 10px;
}

.search-box input[type="text"] {
    border: none;
    background-color: var(--secondary);
    margin-right: 10px;
}

.search-box button {
    background-color: var(--tursh);
    color: var(--secondary);
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

.basket {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.basket img {
    margin-right: 10px;
}

.signup {
    color: var(--secondary);
    margin-right: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    border-radius: 10px;
    background-color: black;
    padding: 5px 10px;
    border: white 2px solid;
}

.signup #username {
    font-weight: bold;
}

.header1 {
    background-color: var(--tursh);
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 10px;
}

.box a {
    color: var(--secondary);
    text-decoration: none;
    font-weight: bold;
}

.box a:hover {
    color: var(--contrast);
}

